<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img [src]='advanceTable.img' alt="avatar">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 p-r-10 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="fName">
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error *ngIf="advanceTableForm.get('fName').hasError('required')">
                            First Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lName">
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error *ngIf="advanceTableForm.get('lName').hasError('required')">
                            Last Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <mat-label class="ml-3">Gender:</mat-label>
                        <mat-radio-group aria-label="Select gender" formControlName="gender" required>
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                            <mat-error *ngIf="advanceTableForm.get('gender').hasError('required')">
                                Select gender
                            </mat-error>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error
                            *ngIf="advanceTableForm.get('email').hasError('required') || advanceTableForm.get('email').touched">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Birth date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="bDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker touchUi></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('bDate').hasError('required')">
                            Please select date
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Mobile</mat-label>
                        <input matInput formControlName="mobile" type="number">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="advanceTableForm.get('mobile').hasError('required')">
                            Mobile is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country" required>
                            <mat-option [value]="'india'">
                                India
                            </mat-option>
                            <mat-option [value]="'usa'">
                                USA
                            </mat-option>
                            <mat-option [value]="'france'">
                                France
                            </mat-option>
                            <mat-option [value]="'germany'">
                                Germany
                            </mat-option>
                            <mat-option [value]="'spain'">
                                Spain
                            </mat-option>
                            <mat-option [value]="'turkey'">
                                Turkey
                            </mat-option>
                            <mat-option [value]="'other'">
                                Other
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('country').hasError('required')">
                            Country Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"
                            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>