/*
Theme Name: Component
Theme URI: http://component.next-item.com/
Author: Next Item
Author URI: next-item.com
Description: Component - Documentation
Version: 1.0.0
License: ThemeForest Regular & Extended License
License URI: http://themeforest.net/licenses/regular_extended
*/
html {
  height: 100%; }

body {
  height: 100%;
  font-size: 16px;
  min-width: 480px; }

img {
  height: auto;
  max-width: 100%; }

.accent-color {
  color: #fff; }

.main-menu {
  background: #3c4e62;
	bottom: 0;
	color: rgba(255,255,255, 0.5);
  font-size: 14px;
  left: 0 !important;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 170px; }
  .main-menu .navbar {
    background: none;
		border: 0 none;
		display: block !important;
		position: relative !important;
		left: 0 !important; }
    .main-menu .navbar .navbar-header {
      float: none;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    .main-menu .navbar .navbar-header .navbar-header-wrap {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: rgba(#fff, 0.7);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: "Nunito Sans", sans-serif;
      font-size: 24px;
      height: 70px;
      padding: 10px 15px;
      text-decoration: none;
      width: 100%;
    }
    .main-menu .navbar .navbar-header img {

    }
    .main-menu .navbar .collapse {
      display: block !important;
      padding: 20px 0 0;
    }
      .main-menu .navbar .collapse .navbar-nav {
        float: none;
        margin: 0; }
        .main-menu .navbar .collapse .navbar-nav > li {
          float: none; }
          .main-menu .navbar .collapse .navbar-nav > li > a {
						color: rgba(255,255,255, 0.6);
            padding-top: 5px;
            padding-bottom: 5px;
            -webkit-transition: color .2s linear;
            transition: color .2s linear; }
            .main-menu .navbar .collapse .navbar-nav > li > a:hover, .main-menu .navbar .collapse .navbar-nav > li > a:focus {
              color: #fff; }
            .main-menu .navbar .collapse .navbar-nav > li > a.active {
              color: #fff; }

.content-wrap {
  padding: 0 0 0 170px; }
  .content-wrap .section {
    padding: 20px 0; }
    .content-wrap .section + .section {
      border-top: 1px solid #ccc; }
    .content-wrap .section .section-title {
      color: #302d2d; }

.code-box {
  border: 2px solid #ccc;
  margin-bottom: 20px;
  max-width: 960px; }
  .code-box pre {
    border-radius: 0;
    margin: 0;
    max-height: 345px; }