.addition-navbar {
	background: #fff;
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(300px, 0);
  transition:
    .2s transform 0s $animation,
    0s z-index .2s $animation;
  width: 300px;
  z-index: 1001;
  @media #{$max543} {
    transform: translate(270px, 0);
    width: 270px;
  }

  .rtl & {
    left: 0;
    right: auto;
    transform: translate(-300px, 0);
    @media #{$max543} {
      transform: translate(-270px, 0);
    }
  }
  &.open {
    transform: translate(0, 0);
    transition:
      .2s transform 0s $animation,
      .2s z-index 0s $animation;
    z-index: 9998;
  }
  .open-navbar {
    align-items: center;
    background: #fff;
    border: 1px solid #dfe4ed;
    color: main-color(500);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    margin-right: -1px;
    position: absolute;
    right: 100%;
    top: 140px;
    transition: color .2s $animation;
    width: 50px;

    .rtl & {
      left: 100%;
      margin: 0 0 0 -1px;
      right: auto;
    }
    &:hover {
      color: main-color(A100);
    }
  }
  .navbar-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .navbar-header {
      align-items: center;
      background: main-color(700);
      color: #fff;
      display: flex;
      height: 70px;
      padding: 10px 22px;
    }
    .navbar-content {
      border-left: 1px solid #dfe4ed;
      flex-grow: 1;
      overflow: auto;
      padding: 22px 22px 22px 21px;
      width: 100%;

      .rtl & {
        border-left: 0;
        border-right: 1px solid #dfe4ed;
      }
      .files-wrap {
        margin: 0 -4px -10px;
      }
    }
  }
}