.footer {
  align-items: center;
  background: rgba(#000,.1);
  display: flex;
  font-size: .8rem;
  height: 45px;
  justify-content: space-between;
  width: 100%;
  @media #{$max543} {
    font-size: .7rem;
  }

  .copyright,
  .version {
    padding: 10px 22px;
  }
  .copyright {
    @media #{$max543} {
      padding-right: 0;

      .rtl & {
        padding-left: 0;
        padding-right: 22px;
      }
    }
  }
}