@import "../sass/variable";	

.mt-module {
  margin-top: $module !important;
}
.mr-module {
  margin-right: $module !important;
}
.mb-module {
  margin-bottom: $module !important;
}
.ml-module {
  margin-left: $module !important;
}
.bg-facebook {
  background: #3b5998;
}
.bg-twitter {
  background: #00ACED;
}
.bg-google {
  background: #DD4B39;
}
.color-twitter {
	color: #00ACED !important;
}
.color-facebook {
	color: #3b5998 !important;
}
.card {
  position: relative;

  .title {
    line-height: 1;
		margin: 0;
		text-transform: uppercase;
  }
  .count {
		font-size: 32px;
		
		.icon {
			font-size: 1.9em;
			opacity: .6;
		}
  }
}
.icon {
	position: relative; 

	.marker {
		background: main-color(A100);
		border-radius: 50%;
		display: block;
		height: 8px;
		position: absolute;
		margin-top: -3px;
		margin-right: -6px;
		right: 0;
		top: 0;
		width: 8px;
	}
	.icon-badge {
		border-radius: 50%;
		position: absolute;
		margin-top: -15px;
		margin-right: -12px;
		right: 0;
		top: 0;
	}
}
.fullscreen-map {
	display: table-cell;
	height: 100%;
	width: 100%;
}
.map-card {
	 .card-content {
		height: 100%;
		position: relative;

		#leaflet-map, #map {
			display: block;
			position: relative;
			max-width: 100%;
			min-height: 344px;
		}
	}
}
.chart-card {
  .card-wrap .card-content {
    align-items: flex-end;
		display: flex !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
  }
  .chart {
    height: 80px;
		margin: 0;
		position: relative;
		width: 80px;

		&.h-300 {
			height: 300px;
			width: 100%;
		}
    canvas {
			height: 100%;
			max-width: 100%;
    }
	}
	.chart-lg {
		height: 100%;
		margin: 0;
		width: 100%;
		position: relative;

		canvas {
			width: 100%;
		}
	}
  .info {
    padding-left: 1rem;

    .title {
      font-size: 2rem;
      line-height: 1;
      margin: 0 0 .5rem;
    }
  }
}
.leaflet-top,
.leaflet-bottom {
  z-index: 996;
}
.elements-list {
  margin: -5px;

  > * {
    margin: 5px !important;
  }
}
.rtl {
  .text-right {
    text-align: left !important;
  }
  .text-left {
    text-align: right !important;
  }
}
.bg-image-1 {
	background: url(../../assets/content/login-bg.jpg) 50% 50% no-repeat !important;
}
.bg-image-2 {
	background: url(../../assets/content/signup-bg.jpg) 50% 50% no-repeat !important;
}
.card-img {
	position: relative;
	
	&-1 {
		@extend.card-img;
		background-color: rgba(#dc143c, 0.6) !important;
		background-image: url(../../assets/content/card-4.jpg);
		color: #fff;
	}
	&-2 {
		@extend.card-img;
		background-color: rgba(#ff8c00, 0.6) !important;
		background-image: url(../../assets/content/card-5.jpg);
	}
	&-3 {
		@extend.card-img;
		background-color: rgba(#00bfff, 0.6) !important;
		background-image: url(../../assets/content/card-6.jpg);
	}
	&-4 {
		@extend.card-img;
		background-color: rgba(#008000, 0.6) !important;
		background-image: url(../../assets/content/card-7.jpg);
		color: #fff;
	}
	&:after {
		content: " ";
		background-color: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}
.z {
	&-10 {
		z-index: 10 !important;
	}
	&-20 {
		z-index: 20 !important;
	}
}
.content {
	background-size: cover;
	height: 100%;
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	width: 100%;

	&.bg-warning {
		background: #ff8c00;
		color: #fff;

		h1 {
			font-size: 8rem;
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 9.5rem;
			position: relative;

			&.title {
				font-size: 4.5rem;
			}
			&:before {
				content: "\f059";
				display: flex;
				font: 26rem/1 FontAwesome;
				font-family: "Font Awesome\ 5 Free";
				justify-content: center;
				left: 0;
				margin-top: -13rem;
				opacity: .2;
				position: absolute;
				right: 0;
				text-rendering: auto;
				top: 50%;
				@media #{$max767} {
					font-size: 20rem;
					margin-top: -10rem;
				}
			}
			@media #{$max767} {
				font-size: 5rem;
				margin-bottom: 5rem;
			}
		}
	}
}
.custom-alert {
	background-color: #530a53 !important;
	color: #fff !important;
}
.custom-badge {
	background-color: #530a53 !important;
	border-color: #530a53 !important;
}
.custom-card {
	background-color: #3c4e62 !important;
	border-color: #3c4e62 !important;
	color: #fff;

	&.outline-card {
		border-color: #3c4e62 !important;
		color: #3c4e62;
	}
	.count {
		font-size: 32px;
	}
	.custom-badge {
		background-color: rgba(#fff, 0.4) !important;
		border-color: rgba(#fff, 0.4) !important;
	}
	.icon {
		font-size: 1.3em;
		color: rgba(#fff, 0.4);
	}
}
.extra-card {
	display: block;
	max-width: 480px;
	margin: 0 auto !important;

	.icon-large {
		font-size: 100px;
	}
	.btn {
		width: 100%;
	}
	.social-divider {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 12px;
		&:after, &:before {
			border-top: 1px solid rgba(#000, 0.2);
			content: '';
			margin: 0 5px;
			width: 30px;
		}
	}
	.social-login {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.btn {
			flex: 1;
			font-size: 1.6rem;
			
			&:not(:last-child) {
				margin-right: $module / 2;
			}
		}
	}
	.additional-info {
		background: rgba(#000, .1);
		margin: $module (-($module)) (-($module));
		padding: $module / 2 $module * 2;
		text-align: center;

		.divider {
			border-left: 1px solid rgba(#000, .2);
			display: inline-block;
			height: 18px;
			margin: 0 10px;
			vertical-align: bottom;
		}
	}
}
.user-img {
	border-radius: 50%;
	height: 40px;
	min-width: 40px;
	margin-right: 15px;
	max-width: 40px;
}
.list-icon {
	font-size: 40px;
	margin-right: 15px;
}

.files-wrap {
	display: flex;
	flex-flow: row wrap;
}
.file-img {
	&-1 {
		 background-image: url(../../assets/content/file-1.jpg);
	}
	&-2 {
		 background-image: url(../../assets/content/file-2.jpg);
	}
	&-3 {
		 background-image: url(../../assets/content/file-3.jpg);
	}
	&-4 {
		 background-image: url(../../assets/content/file-4.jpg);
	}
	&-5 {
		 background-image: url(../../assets/content/file-5.jpg);
	}
}
.responsive-item {
	@media #{$max543} {
		flex-direction: column;
	}
}
.mobile-text-left {
	@media #{$max543} {
		text-align: left !important;
	}
}
.accordion {
	border-radius: 0 !important;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
	0 2px 2px 0 rgba(0, 0, 0, .14),
	0 1px 5px 0 rgba(0, 0, 0, .12);

	.accordion-block {
		margin-bottom: 0 !important;
		border: none;

		.card-header {
			border-radius: 0 !important;
			cursor: pointer;
		}
	}
}
.fc-view-container {
	background: #fff;
}
.custom-control-label {
	&:before,
	&:after {
		height: 16px;
		width: 16px;
	}
}
