.navbar {
	align-items: center;
  background: #fff;
  border-bottom: 1px solid #dfe4ed;
	display: flex;
  height: $navbar-height;
	left: $sidebar-width;
	padding: 0;
  position: fixed !important;
  right: 0;
	top: 0;
	transition: 
		left .2s $animation,
		right .2s $animation;
	z-index: 1001;
	
  @media #{$max991} {
		left: 0;
		width: 100%;
  }
  .rtl & {
    left: 0;
    right: $sidebar-width;
    @media #{$max991} {
      right: 0;
    }
	}
	.open-sidebar & {
		left: $sidebar-width;

		[dir="rtl"] & {
			margin-left: auto;
			margin-right: $sidebar-width;
		}
	}
  .site-navbar {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
		padding: 0 22px;
		width: 100%;
    // @media #{$max991} {
    //   flex-wrap: wrap;
    // }

    .navbar-button {
      cursor: pointer;
      display: none;
      height: 24px;
      margin: 0;
      position: relative;
      transform: rotate(0deg);
			width: 30px;
			min-width: 30px;
      @media #{$max991} {
        display: block;
      }
      span {
        background: main-color(500);
        display: block;
        height: 3px;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: .25s $animation;
        width: 50%;

        &:nth-child(even) {
          left: 50%;
        }
        &:nth-child(odd) {
          left: 0px;
        }
        &:nth-child(1),
        &:nth-child(2) {
          top: 0px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          top: 10px;
        }
        &:nth-child(5),
        &:nth-child(6) {
          top: 20px;
        }
      }
      &.open {
        span {
          &:nth-child(1),
          &:nth-child(6) {
            transform: rotate(45deg);
          }
          &:nth-child(2),
          &:nth-child(5) {
            transform: rotate(-45deg);
          }
          &:nth-child(1) {
            left: 3px;
            top: 6px;
          }
          &:nth-child(2) {
            left: calc(50% - 3px);
            top: 6px;
          }
          &:nth-child(3) {
            left: -50%;
            opacity: 0;
          }
          &:nth-child(4) {
            left: 100%;
            opacity: 0;
          }
          &:nth-child(5) {
            left: 3px;
            top: 15px;
          }
          &:nth-child(6) {
            left: calc(50% - 3px);
            top: 15px;
          }
        }
			}
			.open-sidebar & {
				span {

					&:nth-child(1),
					&:nth-child(6) {
						transform: rotate(45deg);
					}

					&:nth-child(2),
					&:nth-child(5) {
						transform: rotate(-45deg);
					}

					&:nth-child(1) {
						left: 3px;
						top: 6px;
					}

					&:nth-child(2) {
						left: calc(50% - 3px);
						top: 6px;
					}

					&:nth-child(3) {
						left: -50%;
						opacity: 0;
					}

					&:nth-child(4) {
						left: 100%;
						opacity: 0;
					}

					&:nth-child(5) {
						left: 3px;
						top: 15px;
					}

					&:nth-child(6) {
						left: calc(50% - 3px);
						top: 15px;
					}
				}
			}
    }
    .page-title {
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      @media #{$max991} {
        display: none;
      }
    }
    .nav-items {
      display: flex;
      height: 100%;
      margin: 0 -5px;

      .nav-item {
				align-items: center;
				color: #000;
        display: flex;
        height: 100%;
				margin: 0 5px;
				min-width: 44px;
				justify-content: center;
        @media #{$min544} {
          position: relative;
				}
				.avatar {
					border-radius: 50%;
					height: 40px;
					margin-right: 0;
					width: 40px;

					.rtl & {
						margin-right: 0;
						margin-left: 11px;
					}
				}
				&.show {
					.nav-link {
						color: main-color(A100);
					}
				}
				.nav-link {
					align-items: center;
					color: #000;
					display: flex;
					padding: 0;
					position: relative;
					transition: color .2s $animation;
					.icon {
						font-size: 26px;
					}
					.name {
						padding-left: 11px;
						margin: 0 5px;
						width: unset;
						white-space: nowrap;
					}
					&:hover {
						color: main-color(A100);
					}
					@media #{$max991} {
						.name {
							display: none;
						}
					}
				}
        .dropdown-menu {
          background: main-color(500);
          box-shadow: 0 5px 10px 2px rgba(#000,.25);
          display: none;
          left: 50%;
          margin: 0 0 0 -150px;
          padding: 0;
          position: absolute;
          top: 100%;
          width: 300px;
          z-index: 9999;
          @media #{$max991} {
            left: auto;
            margin-left: 0;
            right: 0;
          }
          @media #{$max543} {
            left: 0;
            margin-left: 0;
            width: 100%;
					}
					&.show {
						display: block;
					}
          .rtl & {
            left: auto;
            margin: 0 -150px 0 0;
            right: 50%;
            @media #{$max991} {
              left: 0;
              margin-right: 0;
              right: auto;
            }
            @media #{$max543} {
              margin-right: 0;
              right: 0;
            }
          }
          &:before {
            border: 10px solid transparent;
            border-bottom-color: main-color(500);
            bottom: 100%;
            content: '';
            left: 50%;
            margin: 0 0 0 -10px;
            position: absolute;
            @media #{$max991} {
              left: 100%;
              margin-left: -32px;
            }
            @media #{$max543} {
              display: none;
            }
          }
          .menu-title,
          .menu-footer {
            margin: 0;
            padding: 11px;
            text-align: center;
          }
          .menu-title {
            border-bottom: 1px solid rgba(#fff,.1);
            color: #fff;
            font-size: 16px;
            line-height: 1.3;
          }
          .menu-footer {
            background: main-color(600);

            a {
              color: #fff;

              &:hover {
                color: rgba(#fff,.8);
              }
            }
          }
          > ul {
            list-style-type: none;
            margin: 0;
            max-height: 241px;
            overflow: auto;
            padding: 0;

            > li {
              border-bottom: 1px solid rgba(#fff,.05);

              &:last-child {
                border-bottom: 0;
              }
              > a {
                align-items: center;
                color: #fff;
                display: flex;
                padding: 11px;
                transition: background .2s $animation;

                &:hover {
                  background: main-color(A100);
                }
                .icon {
									align-items: center;
									background: rgba(#fff,.1);
									border-radius: 50%;
									display: flex;
									justify-content: center;
									height: 50px;
									margin-right: 10px;
									min-width: 50px;
									width: 50px;
									> i {
										font-size: 26px;
										line-height: 52px;
									}

                  .rtl & {
                    margin-right: 0;
                    margin-left: 11px;
                  }
                }
                .avatar {
                  border-radius: 50%;
                  height: 40px;
                  margin-right: 11px;
                  width: 40px;

                  .rtl & {
                    margin-right: 0;
                    margin-left: 11px;
                  }
                }
                .content {
                  font-size: .85rem;

                  .desc {
                    display: block;
                  }
                  .date {
                    display: block;
                    font-size: .75rem;
                    font-style: italic;
                    margin-top: 4px;
                    opacity: .6;
                  }
                  .meta {
                    align-items: flex-end;
                    display: flex;
                    justify-content: space-between;
                    line-height: 1.3;
                    margin-bottom: 4px;

                    .date {
                      margin: 0 0 0 11px;
                    }
                  }
                }
              }
						}
          }
          &.mini-menu {
            left: auto;
            right: 0;
            width: 220px;
            @media #{$max543} {
              width: 100%;
            }

            .rtl & {
              left: 0;
              right: auto;
            }
            &:before {
              display: none;
            }
            > ul {
              > li {
                > a {
                  padding-top: 8px;
                  padding-bottom: 8px;

                  i {
                    margin-right: 11px;
                    min-width: 15px;

                    .rtl & {
                      margin-left: 11px;
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
        &.show {
          .dropdown-menu {
            display: block;
          }
          ~ .items-overlay {
            opacity: 1;
            transition:
              .2s opacity 0s $animation,
              0s visibility 0s $animation;
            visibility: visible;
          }
        }
      }
      .items-overlay {
        background: rgba(main-color(500),.2);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition:
          .2s opacity 0s $animation,
          0s visibility .2s $animation;
        visibility: hidden;
        width: 100%;
        z-index: 9998;
      }
    }
  }
}
