.sidebar {
  background: main-color(500);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition:
    left .2s $animation,
    right .2s $animation;
  width: $sidebar-width;
  will-change: left, right;
  z-index: 1001;
  @media #{$max991} {
    left: -($sidebar-width);
		//z-index: 9997;
		.open-sidebar & {
			left: 0;

			[dir="rtl"] & {
				left: auto;
				right: 0;
			}
		}
  }

  .rtl & {
    left: auto;
    right: 0;
    @media #{$max991} {
      left: auto;
      right: -($sidebar-width);
    }
	}
	.logo {
		align-items: flex-end;
		background: main-color(700);
		display: flex;
		font-family: $second-ff;
		padding: 10px 22px;
		min-height: $navbar-height;
		max-height: $navbar-height;
		text-decoration: none;
		width: 100%;

		.logo-img {
			height: auto;
			max-height: 100%;
			max-width: 100%;
			vertical-align: top;
			width: auto;
		}
		.logo-text {
			color: #fff;
			display: block;
			font-size: 24px;
			padding: 0 11px 3px;

		}
	}
  .site-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @media #{$max991} {
      position: relative;
      z-index: 9999;
    }
  }
  .sidebar-overlay {
    background: rgba(main-color(500),.2);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition:
      .2s opacity 0s $animation,
      0s visibility .2s $animation;
    visibility: hidden;
    width: 100%;
		z-index: 9998;
		
		.open-sidebar & {
			@media #{$max991} {
				opacity: 1;
				transition:
					.2s opacity 0s $animation,
					0s visibility 0s $animation;
				visibility: visible;
			}
		}
  }
}