html {
	height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
}

.app {
	display: block;
	height: 100%;

	&.extra-page {
		.site-container {
			height: 100%;
			background: #778391;

			.main-content {
				height: 100%;
				padding: 0;

				.main-content-wrap {
					height: 100%;
					padding: 0;
				}
			}
		}
	}
}
.site-container {
	overflow: hidden;
	position: relative;
	height: 100%;

	.main-content {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding: $navbar-height 0 0 ($sidebar-width);
		transition: padding .2s $animation;

		@media #{$max991} {
			padding-left: 0;
		}

		[dir="rtl"] & {
			padding: ($module * 2) ($sidebar-width + ($module * 2)) 0 ($module * 2);

			@media #{$max991} {
				padding-right: $module;
			}
		}
		.main-content-wrap {
			display: table;
			height: calc(100% - 45px);
			padding: $module;
			table-layout: fixed;
			width: 100%;

			.content {
				display: table-cell;
				height: 100%;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
}
