<card [title]="'Basic radios'">
  <mat-radio-group name="group-1">
    <mat-radio-button value="1" [checked]="true">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</card>

<card [title]="'Column Layout'">
  <mat-radio-group name="group-2" class="column-layout">
    <mat-radio-button value="1" [checked]="true">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</card>

<card [title]="'Align'">
  <mat-radio-group name="group-3" class="column-layout">
    <mat-radio-button value="1"  [checked]="true">Start</mat-radio-button>
    <mat-radio-button value="2" >End</mat-radio-button>
  </mat-radio-group>
</card>

<card [title]="'Disabled'">
  <mat-radio-group name="group-4" class="column-layout">
    <mat-radio-button value="1" [checked]="true">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
    <mat-radio-button value="3" [disabled]="true">Disabled Option</mat-radio-button>
  </mat-radio-group>
</card>

<card [title]="'Radios with ngModel'" class="mb-0">
  <mat-radio-group name="ngModel-options" [(ngModel)]="favoriteSeason" class="column-layout">
    <mat-radio-button *ngFor="let season of seasons" [value]="season" [checked]="i === 0">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <p>Your favorite season is: <strong>{{favoriteSeason}}</strong></p>
</card>
