.alert {
	background: main-color(A100);
	border: 1px solid main-color(A100);
	padding: ($module / 1.5) $module;
	position: relative;
	margin-bottom: $module;

	&:not(.outline-alert){
		color: #fff;
	}
	.close {
		align-items: center;
		background: rgba(#000,.1);
		display: flex;
		font-size: 20px;
		line-height: 1;
		height: 20px;
		width: 20px;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 0;
		transition:
			background .2s $animation,
			color .2s $animation;

		&:before,
		&:after {
			background-color: #252525;
			content: ' ';
			height: 15px;
			position: absolute;
			transition: background-color .2s $animation;
			width: 2px;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
		.rtl & {
			left: 0;
			right: auto;
		}
		&:hover {
			background: rgba(#fff,.3);

			&:before,
			&:after {
				background-color: #f00;
			}
		}
	}
	&.success-alert {
		background: $success-color;
		border-color: $success-color;
	}
	&.info-alert {
		background: $info-color;
		border-color: $info-color;
	}
	&.warning-alert {
		background: $warning-color;
		border-color: $warning-color;
	}
	&.danger-alert {
		background: $danger-color;
		border-color: $danger-color;
	}
	&.outline-alert {
		background: none !important;
	}
}

