.card {
	background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #000;
	border-radius: 0;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, .25);
	display: block;
	position: relative;
	margin: 0 0 1.57rem 0;

	&:not(.outline-card) {
		border: 0 !important;
	}

	.card-header {
		background: main-color(500);
		border-radius: 0;
		color: #fff;
		display: block;
		margin: -1px -1px 0 -1px;
		padding: $module/2 $module;
		position: relative;
	}

	.card-content {
		display: block;
		padding: $module;
		position: relative;
		z-index: 2;

		.title {
			margin: 0 0 ($module / 2) 0;
		}
	}

	&.success-card {
		background-color: $success-color;
		border-color: $success-color;

		&:not(.outline-card) {
			color: #fff;
		}
	}

	&.info-card {
		background-color: $info-color;
		border-color: $info-color;

		&:not(.outline-card) {
			color: #fff;
		}
	}

	&.warning-card {
		background-color: $warning-color;
		border-color: $warning-color;

		&:not(.outline-card) {
			color: #fff;
		}
	}

	&.danger-card {
		background-color: $danger-color;
		border-color: $danger-color;

		&:not(.outline-card) {
			color: #fff;
		}
	}

	&.success-color-card {
		color: $success-color;
	}

	&.info-color-card {
		color: $info-color;
	}

	&.warning-color-card {
		color: $warning-color;
	}

	&.danger-color-card {
		color: $danger-color;
	}

	&.outline-card {
		background: none !important;
		background-color: transparent !important;
		box-shadow: none !important;
	}

	&.bg-image-card {
		border: none !important;

		&:before {
			background-color: inherit;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}