.file {
	display: inline-block;
	width: 120px;
	margin: 0 4px 8px;

	.file-prev {
		background: rgba(main-color(A100),.3);
		color: #fff;
		display: block;
		font-size: 40px;
		padding-top: 100%;
		position: relative;
		width: 100%;

		.icon {
			align-items: center;
			display: flex;
			justify-content: center;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;

			.prev-icon {
				position: relative;

				&:before {
					content: "\f0c6";
					font-family: "Font Awesome 5 Free";
					font-weight: 700;
				}
			}

			.delete {
				background: rgba(#000,.1);
				cursor: pointer;
				font-size: 20px;
				padding: 1px 6px;
				position: absolute;
				right: 0;
				top: 0;
				transition:
					background .2s $animation,
					color .2s $animation;

				.rtl & {
					left: 0;
					right: auto;
				}
				&:hover {
					background: rgba(#fff,.3);
					color: #f00;
				}
			}
		}
		.spinner {
			background: inherit;
			align-items: center;
			display: flex;
			justify-content: center;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;

			.fa {
				font-size: inherit;
			}
		}
	}
	.file-name {
		display: flex;
		flex-wrap: nowrap;
		font-size: 11px;
		justify-content: flex-end;
		margin-top: 3px;
		white-space: nowrap;

		.rtl & {
			justify-content: flex-start;
		}
		.name {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&.doc-file {
		.file-prev {
			background: #029acf;
			.icon {
				.prev-icon {			
					&:before {
						 content: "\f1c2";
					}
				}
			}
		}
	}
	&.xlx-file {
		.file-prev {
			background: #469408;
			.icon {
				.prev-icon {			
					&:before {
						 content: "\f1c3";
					}
				}
			}
			
		}
	}
	&.pdf-file {
		.file-prev {
			background: #d9831f;
			.icon {
				.prev-icon {			
					&:before {
						 content: "\f1c1";
					}
				}
			}
		}
	}
	&.archive-file {
		.file-prev {
			background: #9b479f;
			.icon {
				.prev-icon {			
					&:before {
						 content: "\f1c6";
					}
				}
			}
		}
	}
	&.audio-file {
		.file-prev {
			background: #FF9800;
			.icon {
				.prev-icon {			
					&:before {
						 content: "\f1c7";
					}
				}
			}
		}
	}
	&.video-file {
		.file-prev {
			background: #FF5722;
			.icon {
				.prev-icon {			
					&:before {
						 content: "\f1c8";
					}
				}
			}
		}
	}
	&.image-file {
		.file-prev {
			.icon {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;

				.prev-icon {
					position: relative;
					&:before {
						content: "\f03e";
					}
				}
			}
		}
	}
	&.size-small {
		width: 50px;

		.file-prev {
			font-size: 20px;
		}
	}
	&.size-large {
		width: 180px;

		.file-prev {
			font-size: 60px;
		}
	}
	&.spinner-file {
		.file-prev {
			.icon {
				visibility: hidden;
			}
		}
	}
}