<div class="addition-navbar" id="addition-navbar">
	<button class="open-navbar" id="open-navbar">
		<i class="icon far fa-object-ungroup"></i>
	</button>
	<div class="navbar-wrap">
		<div class="navbar-header">
			Additional Navbar
		</div>
		<div class="navbar-content">
			<div>
				<h5 class="mt-0">Frameworks</h5>
				<p class="mb-1"><strong>Angular</strong></p>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
					 aria-valuemax="100"></div>
				</div>
				<p class="mb-1"><strong>React</strong></p>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
					 aria-valuemax="100"></div>
				</div>
				<p class="mb-1"><strong>Vue.js</strong></p>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="25" aria-valuemin="0"
					 aria-valuemax="100"></div>
				</div>
				<p class="mb-1"><strong>Backbone.js</strong></p>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0"
					 aria-valuemax="100"></div>
				</div>
			</div>
			<hr>
			<div>
				<h5>Uploaded files</h5>
				<div class="files-wrap">
					<div class="files-wrap">
						<div class="file size-small">
							<div class="file-prev">
								<div class="icon">
									<div class="prev-icon"></div>
								</div>
							</div>
							<div class="file-name"><span class="name">file</span><span class="type">.*</span></div>
						</div>
						<div class="file image-file size-small">
							<div class="file-prev">
								<div class="icon file-img-1"></div>
							</div>
							<div class="file-name"><span class="name">bulb</span><span class="type">.jpg</span></div>
						</div>
						<div class="file doc-file size-small">
							<div class="file-prev">
								<div class="icon">
									<div class="prev-icon"></div>
								</div>
							</div>
							<div class="file-name"><span class="name">resume</span><span class="type">.doc</span></div>
						</div>
						<div class="file pdf-file size-small">
							<div class="file-prev">
								<div class="icon">
									<div class="prev-icon"></div>
								</div>
							</div>
							<div class="file-name"><span class="name">documentation</span><span class="type">.pdf</span></div>
						</div>
						<div class="file image-file size-small">
							<div class="file-prev">
								<div class="icon file-img-2"></div>
							</div>
							<div class="file-name"><span class="name">file2</span><span class="type">.jpg</span></div>
						</div>
						<div class="file xlx-file size-small">
							<div class="file-prev">
								<div class="icon">
									<div class="prev-icon"></div>
								</div>
							</div>
							<div class="file-name"><span class="name">sheets</span><span class="type">.xlx</span></div>
						</div>
						<div class="file video-file size-small">
							<div class="file-prev">
								<div class="icon">
									<div class="prev-icon"></div>
								</div>
							</div>
							<div class="file-name"><span class="name">video-tutorial</span><span class="type">.mp4</span></div>
						</div>
						<div class="file audio-file size-small">
							<div class="file-prev">
								<div class="icon">
									<div class="prev-icon"></div>
								</div>
							</div>
							<div class="file-name"><span class="name">song</span><span class="type">.mp3</span></div>
						</div>
						<div class="file image-file size-small">
							<div class="file-prev">
								<div class="icon file-img-3"></div>
							</div>
							<div class="file-name"><span class="name">image-2</span><span class="type">.jpg</span></div>
						</div>
						<div class="file archive-file size-small">
							<div class="file-prev">
								<div class="icon">
									<div class="prev-icon"></div>
								</div>
							</div>
							<div class="file-name"><span class="name">theme</span><span class="type">.zip</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>