<div class="navbar">
	<div class="site-navbar">
		<div class="navbar-button">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<h1 class="page-title">Dashboard</h1>
		<div class="nav-items">
			<div class="nav-item">
				<a href="#" class="nav-link" data-toggle="dropdown">
					<i class="icon far fa-bell"><span class="badge danger-badge icon-badge border-radius-badge">3</span></i>
					<span class="marker"></span>
				</a>
				<div class="dropdown-menu">
					<h4 class="menu-title">Notifications</h4>
					<ul>
						<li>
							<a href="#">
								<div class="icon"><i class="fas fa-user-plus"></i></div>
								<div class="content">
									<span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
									<span class="date">10 minutes ago</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="icon"><i class="fas fa-check"></i></div>
								<div class="content">
									<span class="desc">Your site visits have increased <strong>15.5%</strong> more since the last week.</span>
									<span class="date">23 minutes ago</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="icon"><i class="fas fa-star"></i></div>
								<div class="content">
									<span class="desc">Server loaded by 98% please recover soon</span>
									<span class="date">25 minutes ago</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="icon"><i class="fas fa-bell"></i></div>
								<div class="content">
									<span class="desc">We're looking to hire two more protypers to our team.</span>
									<span class="date">32 minutes ago</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="icon"><i class="fas fa-download"></i></div>
								<div class="content">
									<span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
									<span class="date">58 minutes ago</span>
								</div>
							</a>
						</li>
					</ul>
					<div class="menu-footer">
						<a href="#">View all notifications</a>
					</div>
				</div>
			</div>
			<div class="nav-item">
				<a href="#" class="nav-link" data-toggle="dropdown">
					<i class="icon far fa-calendar"><span class="marker"></span></i>
				</a>
				<div class="dropdown-menu">
					<h4 class="menu-title">Events</h4>
					<ul>
						<li>
							<a href="#">
								<div class="icon"><i class="fab fa-android"></i></div>
								<div class="content">
									<span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
									<span class="date">2 minutes ago</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="icon"><i class="fas fa-coffee"></i></div>
								<div class="content">
									<span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
									<span class="date">14 minutes ago</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="icon"><i class="far fa-smile"></i></div>
								<div class="content">
									<span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
									<span class="date">15 minutes ago</span>
								</div>
							</a>
						</li>
					</ul>
					<div class="menu-footer">
						<a href="#">View all events</a>
					</div>
				</div>
			</div>
			<div class="nav-item">
				<a href="#" class="nav-link" data-toggle="dropdown">
					<i class="icon far fa-comment-alt"></i>
				</a>
				<div class="dropdown-menu">
					<h4 class="menu-title">You have 3 new messages</h4>
					<ul>
						<li>
							<a href="#">
								<img class="avatar" src="assets/content/avatar-1.jpg" width="42" height="42" alt="">
								<div class="content">
									<span class="meta">
										<strong class="name">Victor Jara</strong>
										<span class="date">3 Apr</span>
									</span>
									<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio.</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="avatar" src="assets/content/avatar-4.jpg" width="42" height="42" alt="">
								<div class="content">
									<span class="meta">
										<strong class="name">Nancy Allen</strong>
										<span class="date">2 Apr</span>
									</span>
									<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="avatar" src="assets/content/avatar-3.jpg" width="42" height="42" alt="">
								<div class="content">
									<span class="meta">
										<strong class="name">Emma Watson</strong>
										<span class="date">1 Apr</span>
									</span>
									<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav-item">
				<a href="#" class="nav-link" data-toggle="dropdown">
					<span class="d-flex align-items-center">
						<img src="assets/content/avatar-2.jpg" class="avatar" alt="">
						<span class="name">Justin Adams</span>
					</span>
				</a>
				<div class="dropdown-menu mini-menu">
						<ul class="menu-list">
						<li>
							<a href="#"><i class="fa fa-home"></i> My Account</a>
						</li>
						<li>
							<a href="#"><i class="fas fa-user"></i> Profile</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-calendar"></i> Calendar</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-cogs"></i> Settings</a>
						</li>
						<li>
							<a href="#"><i class="fas fa-sign-out-alt"></i> Log Out</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="items-overlay"></div>
		</div>
	</div>
</div>