<div class="sidebar">
	<div class="site-sidebar">
		<a href="#" class="logo">
			<img src="assets/img/logo.svg" alt="" width="57" height="50" class="logo-img">
			<span class="logo-text">admin</span>
		</a>
		<nav class="main-menu">
			<ul class="menu-ul">
				<li class="menu-item menu-item-group">
					<span class="group-title">Main</span>
				</li>
				<li class="menu-item has-sub">
					<a class="item-link" href="#">
						<span class="icon"><i class="icon-wrap fa fa-home"></i></span>
						<span class="text">Dashboards</span>
						<span class="badge item-badge danger-badge">2</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a class="item-link" href="index.html">
								<span class="text">Dashboard1</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="index-2.html">
								<span class="text">Dashboard2</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="item-link" href="widgets.html">
						<span class="icon"><i class="icon-wrap fa fa-th"></i></span>
						<span class="text">Widgets</span>
					</a>
				</li>
				<li class="menu-item">
					<a class="item-link" href="calendar.html">
						<span class="icon"><i class="icon-wrap far fa-calendar-alt"></i></span>
						<span class="text">Calendar</span>
					</a>
				</li>
				<li class="menu-item menu-item-group">
					<span class="group-title">UI Elements</span>
				</li>
				<li class="menu-item has-sub">
					<a class="item-link" href="#">
						<span class="icon"><i class="icon-wrap fa fa-briefcase"></i></span>
						<span class="text">B4 Components</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a class="item-link" href="buttons.html">
								<span class="text">Buttons</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="b4-cards.html">
								<span class="text">Cards</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="dropdowns.html">
								<span class="text">Dropdowns</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="progresses.html">
								<span class="text">Progress</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="modals.html">
								<span class="text">Modals</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="list-groups.html">
								<span class="text">List Groups</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="tabs.html">
								<span class="text">Tabs</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="tooltips.html">
								<span class="text">Tooltips</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item has-sub">
					<a class="item-link" href="#">
						<span class="icon"><i class="icon-wrap far fa-gem"></i></span>
						<span class="text">H5 Components</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a class="item-link" href="alerts.html">
								<span class="text">Alerts</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="badges.html">
								<span class="text">Badges</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="breadcrumbs.html">
								<span class="text">Breadcrumbs</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="cards.html">
								<span class="text">Cards</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="files.html">
								<span class="text">File</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a class="item-link" href="typography.html">
						<span class="icon"><i class="icon-wrap fa fa-font"></i></span>
						<span class="text">Typography</span>
					</a>
				</li>
				<li class="menu-item">
					<a class="item-link" href="tables.html">
						<span class="icon"><i class="icon-wrap fas fa-table"></i></span>
						<span class="text">Tables</span>
					</a>
				</li>
				<li class="menu-item has-sub">
					<a class="item-link" href="#">
						<span class="icon"><i class="icon-wrap far fa-check-square"></i></span>
						<span class="text">Forms</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a class="item-link" href="form-elements.html">
								<span class="text">Form elements</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="form-layout.html">
								<span class="text">Form layout</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item has-sub">
					<a class="item-link" href="#">
						<span class="icon"><i class="icon-wrap fas fa-chart-pie"></i></span>
						<span class="text">Charts</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a class="item-link" href="line-chart.html">
								<span class="text">Line Chart</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="bar-chart.html">
								<span class="text">Bar Chart</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="doughnut-chart.html">
								<span class="text">Doughnut Chart</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="radar-chart.html">
								<span class="text">Radar Chart</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="pie-chart.html">
								<span class="text">Pie Chart</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="polar-chart.html">
								<span class="text">Polar Area Chart</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item has-sub">
					<a href="#" class="item-link">
						<span class="icon"><i class="icon-wrap fas fa-map-marker-alt"></i></span>
						<span class="text">Maps</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a href="google-maps.html" class="item-link">
								<span class="text">Google Maps</span>
							</a>
						</li>
						<li class="menu-item">
							<a href="leaflet-map.html" class="item-link">
								<span class="text">Leaflet Maps</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item menu-item-group">
					<span class="group-title">Main</span>
				</li>
				<li class="menu-item has-sub">
					<a href="#" class="item-link">
						<span class="icon"><i class="far fa-edit"></i></span>
						<span class="text">Page Services</span>
						<span class="badge item-badge success-badge">New</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a href="about.html" class="item-link"><span class="text">About Us</span></a>
						</li>
						<li class="menu-item">
							<a href="faq.html" class="item-link"><span class="text">FAQ</span></a>
						</li>
						<li class="menu-item">
							<a href="timeline.html" class="item-link"><span class="text">Timeline</span></a>
						</li>
						<li class="menu-item">
							<a href="invoice.html" class="item-link"><span class="text">Invoice</span></a>
						</li>
					</ul>
				</li>
				<li class="menu-item has-sub">
					<a class="item-link" href="#">
						<span class="icon"><i class="icon-wrap fa fa-clone"></i></span>
						<span class="text">Extra pages</span>
						<i class="caret fa fa-angle-right"></i>
					</a>
					<ul class="sub">
						<li class="menu-item">
							<a class="item-link" href="sign-in-1.html">
								<span class="text">Sign In v1</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="sign-in-2.html">
								<span class="text">Sign In v2</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="sign-in-3.html">
								<span class="text">Sign In with Social</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="sign-up-1.html">
								<span class="text">Sign Up v1</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="sign-up-2.html">
								<span class="text">Sign Up v2</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="forgot.html">
								<span class="text">Forgot password</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="confirm.html">
								<span class="text">Confirm email</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="404.html">
								<span class="text">404</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="500.html">
								<span class="text">500</span>
							</a>
						</li>
						<li class="menu-item">
							<a class="item-link" href="not-found.html">
								<span class="text">Not found</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="sidebar-overlay"></div>
</div>