<card [title]="'Basic input'">
  <mat-form-field>
    <input matInput placeholder="Input placeholder" value="">
  </mat-form-field>
</card>

<card [title]="'Prefix and Suffix'">
  <mat-form-field>
    <span matPrefix>+1 &nbsp;</span>
    <input matInput placeholder="Input placeholder" value="">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
</card>

<card [title]="'Hint Labels'">
  <mat-form-field>
    <input matInput placeholder="Input placeholder" maxlength="100" value="Value" #characterCountHintExample>
    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{characterCountHintExample.value.length}} / 100</mat-hint>
  </mat-form-field>
</card>

<card [title]="'Divider Color'">
  <mat-form-field>
    <input matInput placeholder="Default color" value="">
  </mat-form-field>
  <mat-form-field [color]="'accent'">
    <input matInput placeholder="Accent color" value="">
  </mat-form-field>
  <mat-form-field [color]="'warn'">
    <input matInput placeholder="Warning color" value="">
  </mat-form-field>
</card>

<card [title]="'Textarea'">
  <mat-form-field>
    <textarea matInput placeholder="Textarea placeholder">1600 Amphitheatre Pkwy</textarea>
  </mat-form-field>
</card>

<card [title]="'Autocomplete'" class="mb-0">
  <mat-form-field class="mb-0">
    <input matInput placeholder="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let state of filteredStates | async" [value]="state">
      {{ state }}
    </mat-option>
  </mat-autocomplete>
</card>
