<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Table</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Table</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="alert alert-primary">
            Advance table component is develop using <strong>Angular Material Table</strong>. Main
            features are:<br><br>
            <ul class="fa-ul">
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Searching
                    Records In Table
                </li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Sorting Records
                    In Table
                </li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Add, Update,
                    Delete In Table Record
                </li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Row Click Edit
                    Table Record
                </li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Context Menu,
                    And Nested Context Menu
                </li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Crud Operations
                    Using Context Menu </li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Refresh Table
                    Data</li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Pagination
                    Supported</li>
                <li class="font-15"><span class="ml-2"><i class="fas fa-angle-double-left"></i></span>Row Per Page
                    Options</li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ml-0">
                                            <li class="dropdown">
                                                <h2>
                                                    <strong>Table Header</strong></h2>
                                            </li>
                                            <li class="dropdown m-l-20">
                                                <label for="search-input"><i
                                                        class="material-icons search-icon">search</i></label>
                                                <input placeholder="Search" type="text" #filter
                                                    class="browser-default search-field" aria-label="Search box">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="icon-button-demo">
                                                    <button mat-mini-fab color="primary" (click)="addNew()">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-button-demo">
                                                    <button mat-mini-fab color="primary" (click)="refresh()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="img">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let row" class="table-img"> <img [src]="row.img" />
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.fName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="lName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.lName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.email}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gender">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.gender}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="bDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Birth Date</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.bDate | date: 'MM/dd/yyyy' }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="mobile">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.mobile}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="address">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.address}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="country">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        {{row.country}}</mat-cell>
                                </ng-container>
                                <!-- actions -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button mat-icon-button color="accent" class="btn-tbl-edit"
                                            (click)="$event.stopPropagation()" (click)="editCall(row)">
                                            <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="accent" class="btn-tbl-delete"
                                            (click)="$event.stopPropagation()" (click)="deleteItem(row)">
                                            <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                                    [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>

                            <!-- context menu start -->
                            <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                            </div>
                            <mat-menu #contextMenu="matMenu">
                                <ng-template matMenuContent let-item="item">
                                    <button mat-menu-item (click)="addNew()">
                                        <mat-icon>add_box</mat-icon>
                                        <span>Add Record</span>
                                    </button>
                                    <button mat-menu-item (click)="editCall(item)">
                                        <mat-icon>create</mat-icon>
                                        <span>Edit Record</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteItem(item)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete Record</span>
                                    </button>
                                    <button mat-menu-item (click)="refresh()">
                                        <mat-icon>refresh</mat-icon>
                                        <span>Refresh Record</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon>no_encryption</mat-icon>
                                        <span>Disable</span>
                                    </button>
                                    <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                                        <mat-icon>list_alt</mat-icon>
                                        <span> Nested Menu</span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                            <mat-menu #nestedmenu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>mail_outline</mat-icon>
                                    <span>Item 1</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>call</mat-icon>
                                    <span>Item 2</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>chat</mat-icon>
                                    <span>Item 3</span>
                                </button>
                            </mat-menu>
                            <!-- context menu end -->

                            <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                                No results
                            </div>
                            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                                [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>