.rtl {
  direction: rtl;
  text-align: right;
  .navbar {
    .navbar-toggle {
      float: left;
      margin-left: 15px;
      margin-right: 0;
    }

    .navbar-header {
      margin-bottom: 0px;
    }
  }
  .navbar-nav {
    &.navbar-right {
      float: left !important;
      margin-left: 5px;
      display: flex !important;
      flex-direction: unset;
    }
    .dropdown-menu {
      left: 0;
      right: auto !important;
    }
    .dropdown-menu::before {
      left: 19px;
      right: unset;
    }
    .dropdown-menu::after {
      left: 20px;
      right: unset;
    }
    > li > a.js-right-sidebar {
      margin-left: 20px;
      margin-right: 0;
    }
    .user_profile .user_dw_menu li i {
      float: right;
      padding-left: 5px;
    }
  }

  .breadcrumb {
    .page-title {
      border-left: 1px solid #c5c5c5;
      border-right: none;
      padding-left: 10px;
      padding-right: 0px;
    }
    li a .fa-home {
      float: right;
      padding-right: 3px;
    }
  }
  .sidebar {
    right: 0;
    .menu .list {
      .menu-toggle {
        &:after {
          left: 17px;
          right: unset;
        }
        &:before {
          left: 17px;
          right: unset;
        }
      }
      a {
        padding: 9px 18px 9px 9px;
        span {
          margin: 7px 12px 7px 0;
        }
      }
      .ml-menu li a {
        padding-right: 50px;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
  .sidemenu-reorder {
    float: right;
  }
  .sidemenu-collapse {
    height: 50px;
    padding: 0 5px 0 20px;
  }
  .form-check .form-check-label {
    padding-right: 30px;
  }
  @media (min-width: 768px) {
    .navbar-header {
      float: right;
    }
  }

  &.side-closed {
    &.side-closed-hover {
      section.content {
        margin-right: 276px;
        margin-left: 0;
      }
      .sidebar .menu .list li {
        i {
          float: right;
          line-height: 2rem;
        }
        span {
          display: block;
          float: right;
        }
      }
    }
    section.content {
      margin-right: 65px;
    }
  }
  .card .header .header-dropdown {
    left: 15px;
    right: unset;
  }
  .dropdown-menu ul.menu {
    .msg-user {
      float: right;
    }
    .menu-info {
      right: 10px;
      float: right;
      text-align: right;
      .menu-desc .material-icons {
        float: right;
        margin-left: 3px;
      }
    }
    li a {
      float: right;
    }
  }
  .right-sidebar {
    &.open {
      left: 0;
      right: unset;
    }
    .rightSidebarClose {
      right: 5px;
      left: unset;
    }
  }
  .collapse-menu-icon {
    float: right !important;
  }
  .list-unstyled {
    padding-right: 0;
  }
  .review-img {
    padding-left: 0 !important;
    padding-right: 20px;
  }
  .progress-percent {
    float: left !important;
  }
  .todo-actionlist {
    left: 0;
  }
  .ngxTableHeader {
    .header-buttons-left {
      right: -15px;
      li {
        margin-right: 10px;
      }
      .search-icon {
        left: 0;
      }
    }
    .header-buttons {
      left: 35px;
      top: 15px;
      right: unset;
    }
  }
  .materialTableHeader {
    .header-buttons-left {
      right: -15px;
      li {
        margin-right: 10px;
      }
      .search-icon {
        left: 0;
      }
    }
    .header-buttons {
      left: 10px;
      right: unset;
    }
  }
  #mail-nav {
    #mail-folders {
      padding-right: 0;
    }
    #mail-labels {
      padding-right: 0;
    }
    #online-offline {
      padding-right: 0;
    }
  }
  .chat {
    .chat-header {
      img {
        float: right;
      }
      .chat-about {
        float: right;
        padding-right: 10px;
      }
    }
    .chat-history .my-message:after {
      right: 7%;
    }
  }
  .owl-carousel {
    direction: ltr;
    .owl-item {
      direction: rtl;
    }
  }
  .bx-wrapper {
    direction: ltr;
  }
  .lg-outer {
    direction: ltr;
  }
  .rightSetting p {
    text-align: right;
  }
  .sidebar .menu .list {
    padding-right: 0;
    .active .ml-menu {
      padding-right: 30px;
      margin-right: 0;
    }
    .ml-menu li.active a:not(.menu-toggle):before {
      right: -5px;
    }
  }
  .notice-board .notice-body {
    padding: 0 10px 5px 0;
  }
  .ngx-datatable.material .datatable-footer .datatable-pager {
    text-align: left;
  }
  .people-list img {
    float: right;
  }
  .cd-timeline-img img {
    right: 10%;
  }
  .navbar-header .bars:before {
    right: 10px;
    left: unset;
  }
  .dropdown-menu ul.menu {
    padding-right: 0;
  }
  .navbar-nav .user_profile .user_dw_menu {
    padding-right: 0;
    text-align: right;
  }
  .to-do-list {
    padding-right: 0px;
  }
  #mail-nav #mail-labels li {
    float: right;
  }
  #mail-nav #online-offline .material-icons {
    padding: 0px 5px 2px 5px;
  }
  .chat-upload {
    float: left;
  }
  .modal-header .close {
    margin-left: 0px;
  }
}

@media (max-width: 1169px) {
  .rtl {
    .sidemenu-collapse {
      display: none !important;
    }
  }
}
