.map-col {
  card {
    height: 100%;


    ::ng-deep.card-wrap {
      height: 100%;

      .card-content {
        height: 100%;
      }
    }
  }
}
.map-box {
  height: 100%;
  min-height: 300px;
}
